Checks: >
  *,

  -altera-*,
  -android-*,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-reserved-identifier,
  -bugprone-sizeof-expression,
  -bugprone-suspicious-string-compare,
  -bugprone-too-small-loop-variable,
  -cert-*,
  -clang-analyzer-*,
  -concurrency-*,
  -cppcoreguidelines-*,
  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-statically-constructed-objects,
  -google-build-using-namespace,
  -google-readability-braces-around-statements,
  -google-readability-function-size,
  -google-readability-todo,
  -google-runtime-int,
  -hicpp-*,
  -llvm-*,
  -llvmlibc-*,
  -misc-const-correctness,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  -performance-no-int-to-ptr,
  -readability-avoid-const-params-in-decls,
  -readability-braces-around-statements,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-inconsistent-declaration-parameter-name,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-misleading-indentation,
  -readability-named-parameter,
  -readability-non-const-parameter,
  -readability-qualified-auto,
  -readability-redundant-function-ptr-dereference,
  -readability-suspicious-call-argument,
  -readability-uppercase-literal-suffix,
