# Ignore everything
/*

# Unlock .config but ignore all of its contents...
!/.config
/.config/*

# ...except for these
!/.config/fish
!/.config/nvim
!/.config/kitty
!/.config/polybar

# Unlock
!/.misc

# Emacs
!/.emacs.d
/.emacs.d/elpa

# Ignore fish_variables that get generated
/.config/fish/fish_variables

# Unlock Appdata but ignore all of its contents...
!/AppData
/AppData/*

# ...except for Local
!/AppData/Local
/AppData/Local/*

# Unlock nvim
!/Appdata/Local/nvim
