# Ignore everything
/*

# Unlock .config but ignore all of its contents...
!/.config
/.config/*

# ...except for these
!/.config/fish
!/.config/nvim
!/.config/kitty
!/.config/polybar

# Unlock
!/.misc
!/.emacs.d

# Ignore fish_variables that get generated
/.config/fish/fish_variables
